<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>jt-giffy</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53EC92C8-88F3-4E6C-8D21-85C383647950</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>75388AA3-31CF-41CE-BF91-B586612B5368</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Paste immediately</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>WebDevStudios</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Giffy</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>53EC92C8-88F3-4E6C-8D21-85C383647950</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>giffy</string>
				<key>runningsubtext</key>
				<string>Please hold</string>
				<key>script</key>
				<string>require_once('extension_utils.php');
$utils = new ExtensionUtils();

$gif_dir = __DIR__ . '/gifs-cache/';
$feed    = __DIR__ . '/feed-cache/feed.php';
$day_ago = time() - 60*60*24;
$q       = '{query}';
// $q       = 'cat';

if ( in_array( $q, array( 'refeed', 'refresh' ), true ) ) {
	unlink( $feed );
	echo $utils-&gt;toxml( array( 'query' =&gt; array( 'title' =&gt; 'Cache deleted!' ) ) );
	return;
}

if ( file_exists( $feed ) ) {
	$modified_time = filemtime( $feed );

	if ( $modified_time &lt; $day_ago ) {
		cache_gif_feed( $feed );
	}

} else {
	cache_gif_feed( $feed );
}

require_once( $feed );

$results = array();
$counter = 0;
$files_to_be_cached = array();

foreach( $list-&gt;data as $filename =&gt; $img ) {

	// Filter out if a term was searched &amp; json
	if ( false === stripos( $filename, $q ) ) {
		continue;
	}

	if ( 10 &lt;= $counter ) {
		break;
	}

	$file_location = $gif_dir . str_ireplace( '/', '-', $filename );

	if ( ! file_exists( $file_location ) &amp;&amp; isset( $img-&gt;thumb_src ) &amp;&amp; $img-&gt;thumb_src ) {
		$files_to_be_cached[ $img-&gt;thumb_src ] = $file_location;
	}

	$results[] = array(
		'title'    =&gt; $img-&gt;name,
		// 'icon'  =&gt; 'filetype',
		// 'icon'     =&gt; 'fakefile.php?src='. $img-&gt;src,
		'icon'     =&gt; $file_location,
		'valid'    =&gt; '',
		'uid'      =&gt; '',
		'subtitle' =&gt; "Copy to clipboard",
		'arg'      =&gt; $img-&gt;src,
	);

	$counter++;
}

echo $utils-&gt;toxml( $results );

clean_cached_gifs( $gif_dir );
cache_gif_thumbs( $files_to_be_cached );</string>
				<key>title</key>
				<string>WDS Giffy</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>75388AA3-31CF-41CE-BF91-B586612B5368</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>53EC92C8-88F3-4E6C-8D21-85C383647950</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>75388AA3-31CF-41CE-BF91-B586612B5368</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>jtsternberg.com/alfredapp</string>
</dict>
</plist>
